*.bin
*.cmake
*.gz
*.o
*.png
*.xml
.*.sw?
.cache/
.clangd/
CMakeCache.txt
CMakeFiles/
LAStools/
NetrwTreeListing*
Session.vim
bootstrap/
build/
compile_commands.json
container/
fcml-1.1.3/
h5check-2.0.1/
html/
jre1.8.0_171/
latex/
log
msghub/
output.*
so/
sotest
tags
ubu1604/
venv/
wsd/